.#{$grommet-namespace}sidebar {
  &--small {
    @include media-query(lap-and-up) {
      width: $sidebar-small-width;
    }
  }
}

.sidebar-menu {
  .grommetux-anchor {
    color: #b8c7ce;
    font-size: $font-size-small;
    flex: 1;
    font-weight: normal;
  }
}

.grommetux-anchor--icon-label:not(.grommetux-anchor--primary):hover:not(.grommetux-anchor--disabled) {
  color: #fff;
}