@import '~grommet/scss/vanilla/index';
@import "object_tiles";
@import "map";

.icon_rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.grommetux-header {
    min-height: 0;
}