@import '~grommet/scss/vanilla/index';
@import 'definitions';
@import "objects_tiles";
@import "objects_button";
@import "objects_icon";
@import "objects_menu";
@import "objects_drop";
@import "objects_sidebar";
@import "objects_anchor";

@import "map";
@import "bootstrap.css";
@import "AdminLTE.css";
@import "AdminLTE2.scss";
@import "_all-skins.css";

.icon_rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.grommetux-header {
    min-height: 0;
}

*:focus {
  outline: none;
}

* {
  font-size: $font-size-small;
}

